.search
  .search__profile
    button(class="search__profile-btn" type='button')= 'Профиль'
    .search__profile-icon
  label(class='search__label' for=id)= label
  input(
    type='search'
    class='search__input'
    id=id
    placeholder=placeholder
    name=name
    value=value
  )
